body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.photos {
    text-align: center;
    margin-top: 20px;
}

.gallery-img {
    width: 200px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #555;
}
